<%- include('header') -%>
  <div class="jumbotron">
    <h1 align="center"> GUI para médico asociados</h1></br>
    <!-- Portfolio Section -->
    <section id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/Ventana_escuela_medico.jpg">
              <img class="img-fluid" src="/Ventana_escuela_medico.jpg" alt="">
              <div class="portfolio-box-caption">
                
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/Ventana_login_medico.JPG">
              <img class="img-fluid" src="/Ventana_login_medico.JPG" alt="">
              <div class="portfolio-box-caption">
                
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/Ventana_principal_medico.JPG">
              <img class="img-fluid" src="/Ventana_principal_medico.JPG" alt="">
              <div class="portfolio-box-caption">
                
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/Ventana_menu_medico.JPG">
              <img class="img-fluid" src="/Ventana_menu_medico.JPG" alt="">
              <div class="portfolio-box-caption">
                
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/pacientes_medico.JPG">
              <img class="img-fluid" src="/pacientes_medico.JPG" alt="">
              <div class="portfolio-box-caption">
                
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/Estado_paciente.JPG">
              <img class="img-fluid" src="/Estado_paciente.JPG" alt="">
              <div class="portfolio-box-caption p-3">
                
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    
  </div>
  <!-- Call to Action Section -->
  <section class="page-section bg-dark text-white">
    <div class="container text-center ">
      <h2 class="mb-4" >Descarga GUI para médicos</h2>
      <a class="btn btn-light btn-xl" href="https://startbootstrap.com/themes/creative/">Descarga ahora!</a>
    </div>
  </section>





<%- include('footer') -%>