<%- include('header') -%>
  <div class="jumbotron">
    <h1 align="center"> GUI para pacientes</h1>
    <!-- Portfolio Section -->
    <section id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/Ventana_escuela.jpg">
              <img class="img-fluid" src="/Ventana_escuela.jpg" alt="">
              <div class="portfolio-box-caption">
                
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/Ventana_login.jpg">
              <img class="img-fluid" src="/Ventana_login.jpg" alt="">
              <div class="portfolio-box-caption">
                
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/Ventana_signos.jpg">
              <img class="img-fluid" src="/Ventana_signos.jpg" alt="">
              <div class="portfolio-box-caption">
                
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/Ventana_menu.jpg">
              <img class="img-fluid" src="/Ventana_menu.jpg" alt="">
              <div class="portfolio-box-caption">
                
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/Ventana_informacion.jpg">
              <img class="img-fluid" src="/Ventana_informacion.jpg" alt="">
              <div class="portfolio-box-caption">
                
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/Ventana_historial.jpg">
              <img class="img-fluid" src="/Ventana_historial.jpg" alt="">
              <div class="portfolio-box-caption p-3">
                
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    
  </div>
  <!-- Call to Action Section -->
  <section class="page-section bg-dark text-white" >
    <div class="container text-center ">
      <h2 class="mb-4">Descarga GUI para pacientes</h2>
      <a class="btn btn-light btn-xl" href="https://startbootstrap.com/themes/creative/">Descarga ahora!</a>
    </div>
  </section>





<%- include('footer') -%>