
        <%- include('header') -%>
        <div class="jumbotron">
            <h1>Sistema de Monitoreo IOT de Signos Vitales</h1>
            
            <h3>Finalidad del proyecto</h3>
            <p>Diseñar e implementar un sistema de monitoreo de temperatura corporal, pulso cardíaco y porcentaje de saturación de
                oxígeno de la hemoglobina</p>
            <p>Aportando una opcion tentantiva de un sistema de monitoreo de precio módico para personas que sufre de enfermedades tales como el covid 19 en el Perú</p>
        </div>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        <%- include('footer') -%>